.menu{
    display: flex;
    height: 200px;
    line-height: 70px;
    font-size: 25px;
    align-items: center;
    padding: 5px;
}
.menu a{
    color: rgb(21, 100, 110);
}

.enlaces a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;

}

.enlaces{
    margin: auto;

}
a{
    text-decoration: none;
}
.descripcion{
    background-color: rgb(21, 100, 110);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;
}

.menu a:hover{
    background-color: rgb(21, 100, 110);
    color: white;
    transition: .5s;
}

.descripcion{
    position: relative;
    top: 40%;
}

.imagen {
    width: 20%;
    background-color: slategrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
  }
.letra_menu {
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-style: bold;
  }


.estanteria {
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-style: bold;
  }



.imagen img{
    display: inline-block;
    width: 266px;
    height: 200px;
}
.imagenesmuestra{
    display: flex;
}