{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estanteria</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div class ="menu">
        <div class="enlaces">
            <a href="http://127.0.0.1:8000/">Estanterias</a>
            <a href="page2">Lockers</a>
            <a href="page3">Muebles de Oficina</a>
            <a href="page4">Cajas Plasticas</a>
        </div>
    </div>
    <div class = "descripcion">
        <h1>Estanterias</h1> 
    </div>


    <article class= "productos-estanteria" align="justify" style="background-color: #242e2e; color: rgb(255, 255, 255); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 15px;">
                <h4 align="center" style="background-color: #0f1111;color: lightblue;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 45px; 
                border-width: 5px; border-color: rgb(192, 149, 233); border-style: solid; padding: 40px;">Estanteria</h4>
                <section id="venta-estanteria" class="estanterias-img" style="margin: 15px;">
                    <img src="static/estanteria_01.jpg"> 
                    <h4 align="center"style="font-size: 40px;">Estanteria Voss color Nogal ---- $2,200.00</h4><dl>
                        
                        <!-- dl -->
                        <!-- span -->
                    <dl>
                        <dt> <span style="color: lightseagreen;"> <strong> DESCRIPCION</span></strong></dt>
                        <dd>Tus novelas o libros de investigación deben tener un lugar especial en tu hogar, organízalos en este librero Voss de la marca Aldrete.
                            Este mueble de 155 x 30 x 161 cm está fabricado en madera industrializada con un acabado en color nogal y detallado en gris oxford.
                            Cuenta con doce divisiones con entrepaños para que mantengas en orden tus libros y también puedes añadir otros artículos decorativos como esculturas, 
                            portarretratos o macetitas. </dd>                        
                      </dl>
                    
                    <!-- TABLE -->
                    <table border=1 cellspacing="0" align="center">
                        <tr> 
                         <th colspan="5"> Características </th>
                        </tr>
                        
                        <tr>
                         <td rowspan="5"> INFO </td>
                         <th> Descripcion </th>
                         <th> Alto </th>
                         <th> Ancho </th>
                         <th> Precio</th>
                        </tr>
                        
                        <tr>
                         <td align="center"> Madera industrial, 12 entrepaños. </td>
                         <td align="center"> 161 cm</td>
                         <td align="center"> 30 cm</td>
                         <td align="center"> 2200 mxn </td>
                        </tr>
                    </tbody> 
                </table><hr>   
                </section>

    </article>