{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estanteria</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div class ="menu">
        <div class="enlaces">
            <a href="http://127.0.0.1:8000/">Estanterias</a>
            <a href="page2">Lockers</a>
            <a href="page3">Muebles de Oficina</a>
            <a href="page4">Cajas Plasticas</a>
        </div>
    </div>
    <div class = "descripcion">
        <h1>Estanterias</h1> 
    </div>


    <article class= "productos-estanteria" align="justify" style="background-color: #242e2e; color: rgb(255, 255, 255); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 15px;">
                <h4 align="center" style="background-color: #0f1111;color: lightblue;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 45px; 
                border-width: 5px; border-color: rgb(192, 149, 233); border-style: solid; padding: 40px;">Estanteria</h4>
                <section id="venta-estanteria" class="estanterias-img" style="margin: 15px;">
                    <img src="static/estanteria_04.jpg"> 
                    <h4 align="center"style="font-size: 40px;">Estanteria Andes Industrial ---- $1,399.00</h4><dl>
                        
                        <!-- dl -->
                        <!-- span -->
                    <dl>
                        <dt> <span style="color: lightseagreen;"> <strong> DESCRIPCION</span></strong></dt>
                        <dd>Organiza el espacio y tus documentos importantes en la oficina o el hogar, este librero Andes de MDF le da el toque serio a tus espacios.
                            Se compone de cinco entrepaños amplios con una distancia de 32.5 cm aproximadamente entre cada uno, en donde puedes acomodar desde libros, 
                            hasta documentos importantes o artículos de decoración. Está elaborado en madera industrial recubierta con pintura en polvo de color beige 
                            para un mejor acabado. 
                            Firmeza, elegancia y estilo, son los ingredientes para que las habitaciones tengan la armonía necesaria para relucir a detalle. 
                            Este librero Andes te espera ¡adquiérelo ya! Medidas:  67 x 33 x 160 cm (largo x ancho x alto)
                        </dd>                        
                      </dl>
                    
                    <!-- TABLE -->
                    <table border=1 cellspacing="0" align="center">
                        <tr> 
                         <th colspan="5"> Características </th>
                        </tr>
                        
                        <tr>
                         <td rowspan="5"> INFO </td>
                         <th> Descripcion </th>
                         <th> Alto </th>
                         <th> Ancho </th>
                         <th> Precio</th>
                        </tr>
                        
                        <tr>
                         <td align="center">  Pintura en polvo electrostática, 5 entrepaños. </td>
                         <td align="center"> 160 cm</td>
                         <td align="center"> 33 cm</td>
                         <td align="center"> 1399 mxn </td>
                        </tr>
                    </tbody> 
                </table><hr>   
                </section>

    </article>