{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lockers</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div class ="menu">
        <div class="enlaces">
            <a href="http://127.0.0.1:8000/">Estanterias</a>
            <a href="page3">Muebles de Oficina</a>
            <a href="page4">Cajas Plasticas</a>
        </div>
    </div>
    <div class = "descripcion">
        <h1>Lockers</h1> 
    </div>
    <div class="imagenesmuestra">
        <div class="imagen"> 
            <img src="static/Locker2puertas.jpg"style="width:100%">
            <div class="letra_menu">
            <p>Locker 2 puertas </p>
            </div>
        </div>
        <div class="imagen">
            <img src= "static/locker4puertas.jpg" style="width:100%">
            <div class="letra_menu">
            <p>Locker 4 puertas</p>
            </div>
        </div>
        <div class="imagen">
            <img src="static/locker6puertas.jpg" style="width:100%">
            <div class="letra_menu">
            <p>Locker 6 puertas</a></p>
            </div>
        </div>
        <div class="imagen">
            <img src="static/minilocker.jpg" style="width:100%">
            <div class="letra_menu">
            <p>Mini locker 12 puertas</p>
        </div>
    </div>
</body>
</html>