{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lockers</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div class ="menu">
        <div class="enlaces">
            <a href="page1.html">Estanterias</a>
            <a href="page4.html">Cajas</a>
            <a href="page3.html">Muebles de Oficina</a>
        </div>
    </div>
    <div class = "descripcion">
        <h1>Lockers</h1> 
    </div>

    <div class="imagenesmuestra">
        <div class="imagen"> 
            <img src="static/locker1jpg.jpg"style="width:100%">
            <div class="contenedor">
            <p>Locker 8 puertas</p>
            </div>
        </div>
        <div class="imagen">
            <img src= "static/locker1jpg.jpg" style="width:100%">
            <div class="contenedor">
            <p>Locker 4 puertas</p>
            </div>
        </div>
        <div class="imagen">
            <img src="static/locker3.jpg" style="width:100%">
            <div class="contenedor">
            <p>Locker 9 puertas</a></p>
            </div>
        </div>
        <div class="imagen">
            <img src="static/locker4x.jpg" style="width:100%">
            <div class="contenedor">
            <p>Locker 3 puertas</p>
            </div>
        </div>
    </div>
</body>
</html>