{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cajas Plásticas</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
     <div class ="menu">
        <div class="enlaces">
            <a href="page2">Lockers</a>
            <a href="page3">Muebles de Oficina</a>
            <a href="http://127.0.0.1:8000/">Estanterías</a>
        </div>
    </div>
    <div class = "descripcion">
        <h1>Cajas Plásticas</h1> 
    </div>

    <div class="imagenesmuestra">
        <div class="imagen"> 
            <img src="static/Caja1.png"style="width:100%">
            <div class="estanteria">
            <p>Caja de uso rudo extra resistente de 102 litros negro</p>
            </div>
        </div>
        <div class="imagen">
            <img src= "static/Caja2.png" style="width:100%">
            <div class="estanteria">
            <p>Caja de plástico con ventana 40X50X25 CM gris</p>
            </div>
        </div>
        <div class="imagen">
            <img src="static/caja3.png" style="width:100%">
            <div class="estanteria">
            <p>Caja de polipropileno 53 L gris</a></p>
            </div>
        </div>
        <div class="imagen">
            <img src="static/caja4.png" style="width:100%">
            <div class="estanteria">
            <p>Caja plástico 61 L transparente</p>
            </div>
        </div>
    </div>
</body>
</html>