{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estanteria</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div class ="menu">
        <div class="enlaces">
            <a href="page2">Lockers</a>
            <a href="page3">Muebles de Oficina</a>
            <a href="page4">Cajas Plasticas</a>
        </div>
    </div>
    <div class = "descripcion">
        <h1>Estanterias</h1> 
    </div>

    <div class="imagenesmuestra">
        <div class="imagen"> 
            <img src="static/estanteria_01.jpg"style="width:100%">
            <div class="estanteria">
            <p><a href="http://127.0.0.1:8000/estanteria1">Estanteria Voss color Nogal</a></p>
            </div>
        </div>
        <div class="imagen">
            <img src= "static/estanteria_02.jpg" style="width:100%">
            <div class="estanteria">
            <p>Estanteria Mobi Morgan Café</p>
            </div>
        </div>
        <div class="imagen">
            <img src="static/estanteria_03.jpg" style="width:100%">
            <div class="estanteria">
            <p>Estanteria Mobi Big Ben</a></p>
            </div>
        </div>
        <div class="imagen">
            <img src="static/estanteria_04.jpg" style="width:100%">
            <div class="estanteria">
            <p>Estanteria Andes Industrial</p>
            </div>
        </div>
    </div>
</body>
</html>